<h2>About: <%= @client.first_name() %> <%= @client.last_name() %></h2>

<form action ="/clients/<%= @client.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove client</button>
</form>

<a href="/clients">Back</a>
<a href="/">Home</a>
