<h2> Add a new client</h2>

<form action="/add_client" method="post">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" id="first_name">
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" id="last_name">
  <label for="last_name">Stylist ID:</label>
  <input type="text" name="stylist_id" id="stylist_id">
  <button type="submit">Add</button>
</form>

<a href="/clients">Back</a>
<a href="/">Home</a>
