<h2> Add a new stylist</h2>

<form action="/stylists" method="post">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" id="first_name">
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" id="last_name">
  <button type="submit">Add</button>
</form>

<a href="/stylists">Back</a>
<a href="/">Home</a>
